.DS_Store
*.mp3
.env
certs/
node_modules
public/js/bundle.js
images/project_thumbnails
.cache
dist/
utilities/getProjectThumbnails/projectThumbnails
utilities/100DaysScripts/package-lock.json
**/instagram-scraper*
src/assets/images/100Days
utilities/100DaysScripts/*.log
utilities/100DaysScripts/latestScrapes.txt
