.DS_Store
*.mp3
.env
certs/
node_modules
public/js/bundle.js
images/project_thumbnails
.cache
dist/
utilities/getProjectThumbnails/projectThumbnails
100DaysScripts/package-lock.json
**/kd/*
**/kc/*
**/paula/*
**/james/*
**/instagram-scraper*
utilities/100DaysScripts/latestScrapes.txt