<!DOCTYPE html>
<html>

<head>

	<title>
		Three.js Multiplayer Client
	</title>

	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />



	<!--Client Side CSS-->
	<script src="js/libs/three.min.js"></script>
	<script src="js/libs/firstPersonControls.js"></script>
	<script src="js/libs/playerControls.js"></script>
	<script src="js/libs/GLTFLoader.js"></script>


	<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
	<script src="js/scene.js"></script>
	<script src="js/index.js"></script>


</head>

<body style="background: yellow;">
	<!-- WebGL context -->
	<div id="gl_context"></div>

</body>

</html>